.PrincipalText {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
}

.PrincipalText h1 {
  font-size: 3rem;
  margin: 0;
}

.PrincipalText p {
  font-size: 2rem;
  margin: 0;
}